@use "./styles/fonts.scss";
@use "./styles/variables.scss" as vars;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ----- Loading Screen ----- */

#loading-screen {
    position: fixed;
    @include vars.centered;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: vars.$color-accent;
}

#loader {
    width: 100px;
    height: 100px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 25px;
        top: 25px;
        width: 50px;
        height: 50px;
        background-color: vars.$color-primary;
        will-change: transform;
        animation: flip 1.5s infinite ease-in-out;
    }
}

#sound-options {
    left: 50%;
    top: 50%;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 70px 80px;
    gap: 20px;
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/media/dialogue_box.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        z-index: -1;    
    }

    h2 {
        font-family: 'FOT Seurat Pro';
        font-size: clamp(16px, 2vw, 24px);
        color: vars.$color-secondary;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 2s steps(51) paused;
    }
}

.sound-buttons {
    display: flex;
    gap: 20px;
}

.sound-button {
    border: transparent;
    border-radius: 50px;
    background: vars.$color-dark-tan;
    padding: 20px 40px;
    cursor: pointer;
    font-family: 'FOT Seurat Pro';
    color: vars.$color-secondary;
    transform-origin: center;
    will-change: transform;

    &:hover {
        background: vars.$color-primary;
    }
}

/* ----- Settings Modal ----- */

dialog {
    font-family: 'FOT Seurat Pro';
    color: vars.$color-secondary;
    opacity: 0;
}

dialog[open] {
    @include vars.centered;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: min(70%, 1000px);
    height: auto;
    min-height: min(80vh, 600px);
    max-height: 90vh;
    overflow: visible;
    padding: 10%;
    gap: 10px;
    border-radius: 25px;
    border: transparent;
    background: vars.$color-light-tan;
    opacity: 1;
    @media (max-height: 480px) {
        padding: 4%;
    }
}

.modal-title {
    @include vars.centered;
    position: absolute;
    top: -2rem;
    left: 50%;
    bottom: auto;
    transform: translateX(-50%);
    border-radius: 5rem;
    padding: 10px 30px;
    background-color: vars.$color-dark-tan;
    h1 {
        font-size: clamp(16px, 3vw, 28px);
    }
}

.modal-content {
    @include vars.centered;
    flex-direction: column;
    width: 60%;
    height: 100%;
    gap: 3vh;
}

.themes,
.sfx,
.music {
    width: 100%;
    height: 100%;
    @include vars.centered;
    flex-direction: column;
    h2 {
        font-size: clamp(2vw, 16px, 6vw);
    }
}

.theme-options {
    @include vars.centered;
    flex-direction: row;
}

.theme-options {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    flex-wrap: nowrap;
    justify-content: center;
}

.theme-btn {
    width: clamp(40px, 7vw, 60px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid vars.$color-white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#close-settings {
    @include vars.centered;
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: clamp(45px, 6vw, 60px);
    aspect-ratio: 1/1;
    font-family: 'FOT Seurat Pro';
    color: vars.$color-white;
    background: vars.$color-primary;
    border: 5px solid vars.$color-primary-dark;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: rotate(-15deg);
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

    &:hover {
        transform: rotate(45deg) scale(1.3);
    }

    svg {
        width: clamp(15px, 2vw, 30px);
        aspect-ratio: 1/1;
    }

    @media (max-width: 480px) {
        top: auto;
        left: 50%;
        bottom: -1.5rem;
        transform: translateX(-50%);

        &:hover {
            transform: translateX(-50%) scale(1.3);
        }
    }

    @media (max-height: 480px) {
        top: auto;
        left: 50%;
        bottom: -1.5rem;
        transform: translateX(-50%);

        &:hover {
            transform: translateX(-50%) scale(1.3);
        }
    }
}

// Slider
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    background: transparent; 
    border-color: transparent;
    color: transparent;
}

// Slider Thumb
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid vars.$color-primary-dark;
  height: 36px;
  width: 10px;
  border-radius: 5px;
  background: vars.$color-light-tan;
  cursor: pointer;
  margin-top: -14px;
}

// Slider Track
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  background: vars.$color-primary;
  border-radius: 3px;
  border: 1.5px solid vars.$color-primary-dark;
}

/* ----- Main Container ----- */

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40vh auto;
    position: relative;
}

#experience-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#experience-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* ----- Control Buttons ----- */

#open-settings, #reset-view {
    position: absolute;
    @include vars.centered;
    width: clamp(40px, 6vmin, 70px);
    height: clamp(40px, 6vmin, 70px);
    background-color: vars.$color-accent;
    color: vars.$color-white;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

#open-settings {
    top: 2em;
    left: 2em;

    svg {
        width: 75%;
        height: 75%;
    }
}

#reset-view {
    bottom: 2em;
    right: 2em;

    svg {
        width: 60%;
        height: 60%;  
    }
}

/* ----- Customization ----- */

#customization-panel {
    display: grid;
    grid-template-rows: 20% 80%;
    padding: 15px 25px;
    background-color: vars.$color-light-tan;
    overflow: hidden;
    touch-action: manipulation;

    @media (max-height: 480px) {
        grid-template-columns: 20% 80%;
        grid-template-rows: 100%;
        direction: rtl;
    }
}

.category-buttons {
    @include vars.centered;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 0;

    @media (max-height: 480px) {
        flex-direction: column;
    }
}

.category-btn {
    @include vars.centered;
    z-index: 1;
    width: clamp(55px, 10vmin, 115px);
    height: clamp(55px, 10vmin, 115px);
    margin: 0 -2px;
    background-color: vars.$color-accent;
    border: none;
    border-radius: 50%;
    color: vars.$color-light-tan;
    cursor: pointer;
    overflow: hidden;

    svg {
        width: 40%;
        height: 40%;
    }

    &.active {
        z-index: 3;
        color: vars.$color-white;

        svg {
            width: 70%;
            height: 70%;
        }
    }
}

.options-panel {
    width: 100%;
    height: 100%;
    min-height: 0;
    @include vars.centered;
    flex-direction: column;
    overflow: hidden;

    @media (max-height: 480px) {
        direction: ltr;
    }
}

.options-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;

    &.active {
        @include vars.centered;
        flex-direction: column;
    }
}

.options-row {
    @include vars.centered;
    gap: 1vw;
    width: 100%;
}

.skin-option,
.eye-option {
    width: clamp(85px, 17vmin, 200px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: clamp(2px, 0.5vw, 10px) solid transparent;
    background: vars.$color-light-tan;
    cursor: pointer;
    padding: 3px;
    flex-shrink: 0;
    min-width: 0;

    &:hover {
        border-color: vars.$color-light-gray;
    }

    &.active {
        border-color: vars.$color-primary;
    }
}

.hair-options {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    min-height: 0;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
    padding: 3vw;

    @media (max-height: 480px) {
        align-items: flex-end;
    }
}

.hair-styles, .nose-styles, .mouth-styles {
    min-height: 0;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.hair-style {
    width: clamp(70px, 18vmin, 150px);
    aspect-ratio: 1/1;
    border-radius: 35%;
    border: 0.5vw solid transparent;
    overflow: hidden;
    background: vars.$color-light-tan;
    cursor: pointer;

    &.active {
        border-color: vars.$color-primary;
        background: vars.$color-primary;

    }
}

.nose-style, .mouth-style {
    @include vars.centered;
    width: clamp(50px, 15vmin, 170px);
    height: clamp(30px, 13vmin, 150px);
    border-radius: 35%;
    border: clamp(2px, 0.5vw, 10px) solid transparent;
    overflow: hidden;
    background: vars.$color-light-tan;
    cursor: pointer;

    &:hover, &.active {
            transform: scale(1.2);
    }

    &.active {
        border-color: vars.$color-primary;
        background: transparent;

    }
}

.hair-colors, .nose-colors {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: clamp(0.5rem, 1vw, 1.5rem);
    padding: 1vw;
}

.hair-color {
    flex: 0 0 clamp(40px, 12vmin, 125px);
    aspect-ratio: 1/1;
}

.nose-color {
    flex: 0 0 clamp(40px, 12vmin, 125px);
    aspect-ratio: 1/1;
}

.hair-color, .nose-color {
    border-radius: 50%;
    border: clamp(2px, 0.5vw, 10px) solid transparent;
    background: vars.$color-light-tan;
    cursor: pointer;
    padding: 3px;
    flex-shrink: 0;

    &:hover {
        border-color: vars.$color-light-gray;
    }

    &.active {
        border-color: vars.$color-primary;
    }
}

.face-options {
    @include vars.centered;
    height: 100%;
    width: 100%;
    min-height: 0;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
    padding: 2vw;
}

.nose-options {
    @include vars.centered;
    height: 100%;
    width: 100%;
    min-height: 0;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}

.top-options,
.bottom-options {
    padding-bottom: 5vw;

    @media (max-height: 480px) {
        padding-bottom: 0;
    }
}

.top-styles,
.bottom-styles {
    @include vars.centered;
    flex-direction: row;
    flex-wrap: wrap;
    gap: clamp(1rem, 2vw, 2rem);
    padding: 1rem;
}

.top-style,
.bottom-style {
    flex: 0 0 clamp(120px, 18vmin, 180px);
    aspect-ratio: 1/1;
    border-radius: 35%;
    border: clamp(2px, 0.5vw, 6px) solid transparent;
    background: vars.$color-light-tan;
    overflow: hidden;
    min-width: 0;
    cursor: pointer;

    &.active {
        background: vars.$color-primary;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &:hover, &.active {
            object-fit: contain;
            transform: scale(1.2);
        }
    }
}

/* ----- Button Animations ----- */

#open-settings, 
#reset-view,
.theme-btn,
.sound-button,
.skin-option, 
.eye-option, 
.hair-style, 
.nose-style, 
.mouth-style, 
.top-style, 
.bottom-style, 
.hair-color, 
.nose-color {
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

    &:active {
        animation: buttonClick 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

/* ----- General Styling ----- */

svg, img {
    display: block;
    max-width: 100%;
}

button {
    -webkit-tap-highlight-color: transparent;
}

@media (orientation: landscape) {
    #main-content {
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
    }
}